<%= simple_form_for @user, html: {multipart: true} do |f| %>
    <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    </p>
    <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    </p>
    <p>
    <%= f.label :andrewid %><br />
    <%= f.text_field :andrewid %>
    <p>
    <% if logged_in? and current_user.role? :admin %>
        <%= f.input :role, collection: [[0, 'Admin'], [1, 'Student']], label_method: :second, value_method: :first, input_html: {class:'avg'} %> <br />
    <% else %>
        <%= f.input :role, :as => :hidden, :input_html => { :value => 1 } %>
    <% end %>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
    </p>
    <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
    </p>
    <p><%= f.submit ("Submit"), :class=> "btn indigo darken-4" %>
        <%#= f.button :submit, :class => "indigo darken-4", :label => "Sign Up"%>
    </p>
<% end %>
    
