<% if current_user.role? :admin %>

    <%= simple_form_for @film, html: {multipart: true} do |f| %>
        <div id="film_form">
        <b>Title: </b> <%= f.input :title %> <br>
        <b>Uploaded by: </b> <%= f.input :director %> <br>
        <%# Put in nested form for tags later %>
    <!-- 
        <div class="input textarea clearfix example1">
            <span class="taggle_placeholder" style="opacity: 1;">Enter tags...</span>
            <ul class="taggle_list">
            <li><input type="text" class="taggle_input" tabindex="1" style="padding-left: 0px; padding-right: 0px; width: 300px;"></li>
            </ul>
            <div class="taggle_sizer" style="font-size: 16px;">s</div>
        </div> -->

        <b>Tags (separated by space)</b> <br>

        <%= f.input :tag_names, label_html: {id: "film-tags"}%>


        <b>Description: </b> <%= f.input :description, as: :text %> <br>
        <b>Upload film: </b> <%= f.file_field :film_path, :label => "Films "%> <br>
        <!-- SHOULD CREATE NEW VIEW FOR ADMINISTRATOR VS STUDENTS -->
        <b>Base Film: </b>  <%= f.input :film_type,  collection: [[1, 'Yes'], [0, 'No']], label_method: :second, value_method: :first, input_html: {class:"avg"}  %> <br>


         <!-- SHOULD CREATE NEW VIEW FOR ADMINISTRATOR VS STUDENTS -->
        <b>Permission: </b> <%= f.input :permission,  collection: [[0, 'public'], [1, 'partial'], [2, 'private']], label_method: :second, value_method: :first, input_html: {class:"avg"}  %> <br>

         <b>Upload Cover-Art: </b><br> <%= f.file_field :image_path, :label => "Cover-Art "%><br><br>


        <b>Upload essay: </b> <%= f.file_field :essay_path, :label => "Essays "%><br>

        <%= f.button :submit, :class => "blue darken-3"%>


    <% end %>

<% else %>
    <%= simple_form_for @film, html: {multipart: true} do |f| %>
        <div id="film_form">
        <b>Title: </b> <%= f.input :title %> <br>
        <b>Uploaded by: </b> <%= f.input :director %> <br>
        <%# Put in nested form for tags later %>


        <b>Tags (separated by space)</b> <br>

        <%= f.input :tag_names, label_html: {id: "film-tags"}%>



        <b>Description: </b> <%= f.input :description, as: :text %> <br>
        <b>Upload film: </b> <%= f.file_field :film_path, :label => "Films "%> <br>

         <!-- SHOULD CREATE NEW VIEW FOR ADMINISTRATOR VS STUDENTS -->
        <b>Permission: </b> <%= f.input :permission,  collection: [[0, 'public'], [1, 'partial'], [2, 'private']], label_method: :second, value_method: :first, input_html: {class:"avg"}  %> <br>

        
        <b>Upload essay: </b> <%= f.file_field :essay_path, :label => "Essays "%><br>
        <div id="license">    
        <p>Grant of Rights Regarding Provided Materials.  By depositing Provided Materials, you hereby agree that CMU has a non-exclusive, world-wide, royalty-free, sub-licensable, perpetual right to store, reproduce, publish, display and distribute any and all such Provided Materials to the public when you upload the Provided Materials as well as for archival and preservation purposes (including but not limited to the right to transfer the Provided Materials into a different format now known or later developed).  By agreeing to this Deposit Agreement, you are not relinquishing any ownership interest you may have in the Provided Materials, and CMU is not relinquishing any ownership it may have in the Provided Materials.</p>
        </div>
        <p>By clicking the upload button below, I hereby agree to the terms and conditions stated above.</p>
        <%= f.button :submit, :class => "blue darken-3"%>


    <% end %>
<% end %>