<%= simple_form_for @film, html: {multipart: true} do |f| %>
    <div id="film_form">

    <div class="row">

      <div class="col s6">      
            <b>Title: </b> 
            <%= f.input :title %> <br>
            <b>Uploaded by: </b> 
            <%= f.input :director %> <br>

             <b>Upload film: </b> <br><br>
            <%= f.file_field :film_path%> <br>


            <b>Upload essay: </b> <br><br>
            <%= f.file_field :essay_path, :label => "Essays "%><br>

      </div>

      <div class="col s6">
        <b>Description: 
        </b> <%= f.input :description, as: :text %> <br>

         <b>Permission: </b> 
         <%= f.input :permission,  collection: [[0, 'public'], [1, 'partial'], [2, 'private']], label_method: :second, value_method: :first, input_html: {class:"avg"}  %> <br>


         <b>Tags</b> <br>
         <div id="film-tags">
             
         </div>
         <%#= f.input :tag_names, label_html: {id: "film-tags"}%>
      </div>

    </div>


    
         <div class="row">

      <div class="col s4">
        <div class="center">
        
     </div>
      </div>

      <div class="col s4">
       
      </div>

      <div class="col s4">
       
      </div>

    </div>
   
          
    <%= f.button :submit, :class => "indigo darken-4"%>

</div>
<% end %>




