<!-- Navigation -->
<%= render partial: "partials/nav" %>
    
  <div class="container">
    <% tag = params[:search]%>
    <h2 class="center">Search Results for '<%="#{tag}"%>'</h2>



      <div class="row">
            
        <div class="col s6">
            <p id="results-page"><strong>Tag results:</strong> </p>
            <ul>
            <%if @matched_by_tag.empty?%>
                  <h4> No Results!</h4>
              <%else%>

              <div class="collection">
                <% @matched_by_tag.each do |t| %>
                  <%count = t.film_tags.count%>

                  <a class="collection-item"><h6 id="search-title" class="center">Similar Tags</h6><%= link_to "#{t.name} (#{count}) ", "/tags/#{t.id}", :class=> "center" %> </a>    
                <% end %>           
              <% end %>
              </ul>

              </div>

          
          <div class="col s6">
            <!-- directors and titles -->
            <p id="results-page"><strong>Director Results: </strong></p> 
            <ul>
                  <%if @matched_by_director.empty?%>
                      <h4> No Results!</h4>
                  <%else%>

                  <% @matched_by_director.each do |f| %>
                  
                    <div class="card blue darken-2">
                      <div class="card-content white-text">
                        <span class="card-title"><%= f.title %></span>
                        <p><%= f.director %></p>
                        <p><%= f.description %></p>
                      </div>
                      <div class="card-action">
                        <%= link_to("Watch", "/films/#{f.id}")%>
                  </div>
                </div>

                  <% end %>
                  <% end %>

              </ul>
            </div>


         </div> 

        
      </div>


<!-- Breaks for the sticky footer -->
<br>
<br>
<br>
<br>



  <%= render partial: "partials/footer" %>
