<!-- Navigation -->
<%= render partial: "partials/nav" %>
    
    <!-- To get url query string -->
    <%# uri = URI.parse(@object.location)%>
    <%# uri_params = CGI.parse(uri.query)%>
    <%#string = uri_params['search']%>
  <div class="container">
    <% tag = params[:search]%>
    <h2 class=" blue-text text-darken-3 center">Search Results for '<%="#{tag}"%>'</h2>
    <div class="row">
        <div class="col s4">
            <!-- tags -->
           
             <p id="results-page"><strong>Tag results:</strong> </p>
            <ul class=tag_searches>

                <%unless @matched_by_director.any?%>
                    <p> No Results!</p>
                <%else%>

                <div class="collection">
                
                <% @matched_by_tag.each do |t| %>
                <%count = @tag.films.alphabetical.count%>
                <a class="collection-item"><%= link_to "#{t.name} (#{count}) ", @t %></a>    
                <% end %>
                <% end %>
                </div>

            </ul>


        </div>


        <div class="col s7">
            <!-- directors and titles -->
           <p id="results-page"><strong>Director Results: </strong></p> 
            <ul>
                <%unless @matched_by_director.any?%>
                    <p> No Results!</p>
                <%else%>

                <% @matched_by_director.each do |f| %>
                  <div class="row">
                <div class="col s6">
                  <div class="card blue darken-2">
                    <div class="card-content white-text">
                      <span class="card-title"><%= f.title %></span>
                      <p><%= f.director %></p>
                      <p><%= f.description %></p>
                    </div>
                    <div class="card-action">
                      <%= link_to("Watch", "/films/#{f.id}")%>
                    </div>
                  </div>
                </div>
            </div>

                <% end %>
                <% end %>

            </ul>
        </div>
    </div>
  </div>




  <%= render partial: "partials/footer" %>