<!-- Navigation -->
<%= render partial: "partials/nav" %>


  <div class="container">
  	<h2 class=" blue-text text-darken-3 center"><%= @film.title %></h2>
  	
  	<div class="center">
  		<div id="film_info">
        By: <strong><%= @film.director %></strong> <br />
        <%= @film.description %> <br /> <br />
	  	</div>
      <div id="download">
        <%= link_to("Download Now!", "/films/#{@film.id}/download", class: 'waves-effect waves-light btn-large blue darken-3', download: '')%>
      </div>
	  	<br>
        <%= video_tag "/films/#{@film.id}/view", :controls => true, :autoplay => true %>
	  	<br>
      <%= button_to "delete", @film, :method => :delete %>
  	</div>
  	


  </div>

	<!--  <footer class="page-footer blue darken-3"></footer> -->




