<!DOCTYPE html>
<html>
<head>
  <title>Oscar Micheaux</title>
  <%= stylesheet_link_tag    "landing", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "landing", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">

    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

    <%= javascript_include_tag "styling", "data-turbolinks-track" => true %>
</head>
<body class="landing">

  

  <%= yield %>

</body>
</html>    
 
